#map{
	position: fixed !important;
	left:0;
	top:0;
	width:100%;
	height: 100%;
}

#map.loading::before{
	position: absolute;
	left:0;
	top:0;
	z-index: 1000;
	background:url(../img/loader.svg) rgba(255,255,255,.8) no-repeat center center / 40px 40px;
	width: 100%;
	height: 100%;
	display: block;
	content:'';
}

.boatIcon{
	background:url(../img/vessel.svg) no-repeat center center / cover;
	width:16px;
	height: 30px;
}